USE [QLyChungCu]
GO
/****** Object:  Table [dbo].[DANCU]    Script Date: 03/07/2023 21:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANCU](
	[MADCU] [nvarchar](8) NOT NULL,
	[CMND] [nvarchar](20) NULL,
	[TENCUDAN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NOISINH] [nvarchar](50) NULL,
	[QUEQUAN] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[DANTOC] [nvarchar](20) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
	[NOITHUONGTRU] [nvarchar](100) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[TIENGDANTOC] [nvarchar](20) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[VAITRO] [nvarchar](50) NULL,
	[MAPHONG] [nvarchar](30) NULL,
	[NOILAMVIEC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUCAMERA]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUCAMERA](
	[LichSuID] [nchar](10) NOT NULL,
	[ThoiGianBat] [datetime] NULL,
	[ThoiGianTat] [datetime] NULL,
	[Camera] [nvarchar](200) NULL,
	[TenDN] [char](50) NULL,
 CONSTRAINT [PK_LICHSUCAMERA] PRIMARY KEY CLUSTERED 
(
	[LichSuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nvarchar](30) NOT NULL,
	[GIAPHONG] [int] NULL,
	[SONGUOI] [nvarchar](10) NULL,
	[TINHTRANGPHONG] [nvarchar](50) NULL,
	[MATB] [nvarchar](10) NULL,
	[MASUCO] [nvarchar](10) NULL,
	[MATK] [nvarchar](30) NULL,
	[MACN] [nvarchar](10) NULL,
	[SOPHONG] [nvarchar](10) NULL,
 CONSTRAINT [PK__PHONG__CE71B252AC0A3995] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_HINH]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_HINH](
	[IDHINH] [int] IDENTITY(1,1) NOT NULL,
	[IDDANCU] [nvarchar](8) NOT NULL,
	[TENHINH] [varchar](50) NULL,
 CONSTRAINT [key_1] PRIMARY KEY CLUSTERED 
(
	[IDHINH] ASC,
	[IDDANCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_LAMAT]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_LAMAT](
	[ID_LAMAT] [int] IDENTITY(1,1) NOT NULL,
	[HINH] [varchar](50) NULL,
	[CAMERA] [nvarchar](10) NULL,
	[THOIDIEM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LAMAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_LICHSU]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_LICHSU](
	[IDDANCU] [nvarchar](8) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[CAMERA] [nvarchar](10) NULL,
 CONSTRAINT [key_8] PRIMARY KEY CLUSTERED 
(
	[IDDANCU] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_TAIKHOAN]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_TAIKHOAN](
	[TENDN] [char](50) NOT NULL,
	[MATKHAU] [char](100) NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[CMND] [char](30) NULL,
	[SDT] [char](12) NULL,
	[DIACHI] [nvarchar](150) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[QUYEN] [nvarchar](30) NULL,
	[HINHANH] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_THOILUONG]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_THOILUONG](
	[ID_THOILUONG] [int] IDENTITY(1,1) NOT NULL,
	[ID_DANCU] [nvarchar](8) NOT NULL,
	[NGAYHIENTAI] [date] NOT NULL,
	[GIORA] [time](7) NULL,
	[GIOVAO] [time](7) NULL,
	[LANTHU] [int] NULL,
 CONSTRAINT [pkey_1] PRIMARY KEY CLUSTERED 
(
	[ID_THOILUONG] ASC,
	[ID_DANCU] ASC,
	[NGAYHIENTAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_TRANGTHAICAMERA]    Script Date: 03/07/2023 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_TRANGTHAICAMERA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [char](50) NULL,
	[TEN_NUT] [nvarchar](30) NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RAVAO_HINH]  WITH CHECK ADD  CONSTRAINT [key_2] FOREIGN KEY([IDDANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_HINH] CHECK CONSTRAINT [key_2]
GO
ALTER TABLE [dbo].[RAVAO_LICHSU]  WITH CHECK ADD  CONSTRAINT [key_9] FOREIGN KEY([IDDANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_LICHSU] CHECK CONSTRAINT [key_9]
GO
ALTER TABLE [dbo].[RAVAO_THOILUONG]  WITH CHECK ADD  CONSTRAINT [pkey_2] FOREIGN KEY([ID_DANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_THOILUONG] CHECK CONSTRAINT [pkey_2]
GO
ALTER TABLE [dbo].[RAVAO_TRANGTHAICAMERA]  WITH CHECK ADD  CONSTRAINT [for_key10] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[RAVAO_TAIKHOAN] ([TENDN])
GO
ALTER TABLE [dbo].[RAVAO_TRANGTHAICAMERA] CHECK CONSTRAINT [for_key10]
GO
